
.CENTERED {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  }
.center-block{
  text-align:center;
}

body{
  background-color:coral;
}
h1{
  font-family:Georgia, serif;
  text-align:center;
}
p{
  font-family:Arial, Helvetica, sans-serif;
}

ul{
  font-family:Arial, Helvetica, sans-serif;
}
li{
  font-style: bold;
}
a{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

form{
  font-family:Georgia,serif;
  text-align:center;
}
iframe{
  display:block;
  margin:0 auto;
}
img{
  display:block;
  margin:0 auto;
  height:450
}
table,td,th,tr{
   border:1px solid black;
   border-collapse:collapse;
   text-align:center;
   align:center;
   margin-left:auto;
   margin-right:auto
}
#yes{
  height:200;
}
div{
  font-size: 15px;
}
span{
  color:black;
}
#menu{
  display:inline-block;
  background-color:green;
}
.dropdown-toggle{

  background-color:whitesmoke;

}
.carousel-indicators{
  margin-left:auto;
  margin-right:auto;
  position:static;
}
.jumbotron{
  background-color:burlywood;
}
